<div class="jumbotron">
<h1><%= @user.username.capitalize %></h1>
<h4>Email: <%= @user.email%></h4>
<p>Member since: <%= @user.created_at.strftime('%m/%d/%y') %></p>
<div id='user-collections'>

  <div class='collection'>
  <% if current_user == @user %>
    <h3>Your Board Game Library:</h4>
  <% else %>
    <h3><%= @user.username.capitalize %>'s Board Game Library:</h4>
  <% end %>
    <% @user.games.each do |game| %>
    <%= link_to game.name, game_path(game), class: 'btn btn-primary spaced-btn' %>
    <% end %>
  </div>

  <% if current_user == @user %>
    <h4>Your Friends:</h4>
  <% else %>
    <h4><%= @user.username.capitalize %>'s Friends:</h4>
  <% end %>

    <ul>
        <% @user.friends.each do |friend| %>
        <li>
          <div class='friend-elm' class='inline'><%= link_to friend.username, user_path(friend) %></div>
          <% if current_user == @user %>
            <div class='inline'><%= button_to "Remove", friendship_path(:id => friend), :method => :delete, class: 'btn btn-primary remove-btn' %></div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if current_user == @user %>
        <h4>Incoming Friend Requests:</h4>
        <ul>
            <% @user.requested_friendships.each do |requesting_friend| %>
            <li>
              <%= link_to requesting_friend.username, user_path(requesting_friend) %>
              <%= button_to "Accept", "/friendships/#{requesting_friend.id}", :method => :put %>
              <%= button_to "Decline", "/friendships/#{requesting_friend.id}", :method => :delete %>
              <br>
            </li>
          <% end %>
        </ul>
    <% end %>

    <% if current_user == @user %>
        <h4>Outgoing Friend Requests:</h4>
        <ul>
            <% @user.pending_friends.each do |pending_friend| %>
            <li>
              <%= link_to pending_friend.username, user_path(pending_friend) %>
              <br>
            </li>
          <% end %>
        </ul>
    <% end %>

    <div class="text-primary">
      <% if flash %>
      <%= flash.notice %>
      <% end %>
    </div>

    <% if logged_in? && current_user != @user && !current_user.pending_friends.include?(@user) && !current_user.friends.include?(@user)%>
            <%= link_to "Add " + @user.username.capitalize + " as a Friend", friendships_path(:friend_id => @user), :method => :post %>
    <% end %>

</div>
</div>
