<img id="site-logo" src="/images/gamepedia_1.jpg">
<div class="jumbotron">
  <h1>Games</h1>
  <% @games.each do |game| %>
  <div class='game-container'>
    <h2><%= link_to game.name, game_path(game) %></h2>

    <div class='game-description'>
    <h7><%= game.votes.sum(:value).to_s + " points" %></h7>
      <p><%= game.description[0..250] + "..." %></p>
      <%= link_to 'Read more', game_path(game) %>
      <% if session['user_id'] == game.creator_id %>
        <div class='edit-btns'>
          <%= link_to 'Edit', edit_game_path(game) %><br>
          <%= link_to 'Delete', game_path(game), method: :delete, data: { confirm: 'Are you certain you want to delete this game?' } %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <div>
    <% if logged_in? %>
    <h2><%= link_to 'Add a game', new_game_path %></h2>
    <% end %>
  </div>
</div>
