<div class="jumbotron">

  <h1> Add a New Board Game: </h1>

  <%= form_for :game, url: games_path do |f| %>

    <% if @game.errors.any? %>
      <div >
        <h2>
          <%= pluralize(@game.errors.count, "error") %> prohibited
          this game from being saved:
        </h2>
        <ul>
          <% @game.errors.full_messages.each do |msg| %>
            <li class="error_explanation">The <%= msg %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Name" %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description, placeholder: "Description" %>
  </p>

  <p>
    <%= f.label :average_play_time %><br>
    <%= f.text_field :avg_play_time, placeholder: "Average Play Time" %>
  </p>

  <p>
    <%= f.label :minimum_number_of_players %><br>
    <%= f.select :min_players, [1, 2, 3, 4, 5, 6, 7, 8, 9]%>
  </p>

  <p>
    <%= f.label :maximum_number_of_players %><br>
    <%= f.select :max_players, [1, 2, 3, 4, 5, 6, 7, 8, 9]%>
  </p>

  <%= f.label :image %><br>
  <%= f.file_field :image %>

  <%= f.hidden_field :creator_id, :value => current_user.id %> <br>

  <%= f.submit "Submit New Game", class: "btn btn-primary" %>git status

  <% end %>

  <%= link_to 'Back', games_path %>
</div>
