<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-r/qnS4YZBLuBSKeVc+sM4eUYUiJMFhkHfx1nwlErHhTd+NgeJlN/NiiTd6jbKJzm" crossorigin="anonymous">
  <title>Gamepedia</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fixed">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Gamepedia</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class= <%= active_if('games') %>><a href="/games">Games</a></li>
          <li class= <%= active_if('tags') %>><a href="/tags">Tags</a></li>
          <li class= <%= active_if('users') if !params['id'] %>><a href="/users">Users</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <%if logged_in?%>
        <li class= <%= active_if('users') if params['id'] %>><%= link_to current_user.username.capitalize, user_path(current_user) %></li>
        <li><%= link_to 'Logout', '/sessions/destroy', method: 'delete' %></li>
        <% else %>
        <li><%= link_to 'Register', '/users/new' %></li>
        <li><%= link_to 'Login', '/sessions/login' %></li>
        <% end %>
        <li class= <%= active_if('map') %>><%= link_to 'Store Locator', '/map' %></li>
      </ul>
      </div>
    </div>
  </nav>
</div>
<div id="new-game-form-div"></div>
<%= yield %>

</body>
</html>
